header {
  padding: 1em 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-foreground-20);

  .title {
    font-family: "Antonio", sans-serif;
    font-weight: 500;
    font-size: 1.75em;
    text-transform: uppercase;
    line-height: 1.286;
    letter-spacing: -1.05px;
  }

  nav {
    cursor: pointer;

    &::after {
      content: "";
      display: block;
      background: url("../assets/icon-hamburger.svg") no-repeat center;
      background-size: contain;
      width: 1.5em;
      height: 2.25em;
    }

    &.open {
      &::after {
        opacity: 25%;
      }

      ul {
        display: block;
      }
    }
  }

  ul {
    display: none;
    position: absolute;
    top: calc(4.375em - 1px);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1.5em;
    background: var(--color-background);
  }

  li {
    font-size: 0.9375rem;
    font-weight: 700;
    line-height: 1.67;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    padding-block: 1.25em;
    position: relative;

    & + * {
      border-top: 1px solid var(--color-foreground-10);
    }

    &::before {
      content: "";
      display: inline-block;
      vertical-align: text-bottom;
      border-radius: 50%;
      background: white;
      width: 1.333em;
      height: 1.333em;
      margin-right: 1.667em;
    }

    &::after {
      content: "";
      display: inline-block;
      vertical-align: text-bottom;
      background: url("../assets/icon-chevron.svg") no-repeat center;
      position: absolute;
      width: 0.4em;
      height: 1.333em;
      right: 0.533em;
    }
  }

  #mercury::before {
    background: #def4fc;
  }

  #venus::before {
    background: #f7cc7f;
  }

  #earth::before {
    background: #545bfe;
  }

  #mars::before {
    background: #ff6a45;
  }

  #jupiter::before {
    background: #ecad7a;
  }

  #saturn::before {
    background: #fccb6b;
  }

  #uranus::before {
    background: #65f0d5;
  }

  #neptune::before {
    background: #497efa;
  }
}
