@use "fonts";
@use "resolutions" as *;

header {
  padding: 1em 1.5em;
  border-bottom: 1px solid var(--color-foreground-20);

  @include for-mobile-only {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include for-tablet {
    text-align: center;
    padding: 2em 3.25em 1.625em;
  }

  @include for-desktop {
    display: grid;
    grid-template-columns: auto 1fr;
    place-items: end right;
    padding: 0 2em 1.6875em;
  }

  .title {
    @include fonts.title;
    font-size: 1.75em;
    text-transform: uppercase;
    line-height: 1.286;
    letter-spacing: -0.0375em;
  }

  nav {
    @include for-mobile-only {
      cursor: pointer;

      &::after {
        content: "";
        display: block;
        background: url("../assets/icon-hamburger.svg") no-repeat center;
        background-size: contain;
        width: 1.5em;
        height: 2.25em;
      }

      &.open {
        &::after {
          opacity: 25%;
        }

        ul {
          display: block;
        }
      }

      ul {
        display: none;
        position: absolute;
        z-index: 1;
        top: calc(4.375em - 1px);
        left: 0;
        right: 0;
        bottom: 0;
        padding: 1.5em;
        background: var(--color-background);
      }

      li {
        font-size: 0.9375rem;
        font-weight: 700;
        line-height: 1.67;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        position: relative;

        & + * {
          border-top: 1px solid var(--color-foreground-10);
        }

        a {
          display: block;
          padding-block: 1.25em;

          &::before {
            content: "";
            display: inline-block;
            vertical-align: text-bottom;
            border-radius: 50%;
            width: 1.333em;
            height: 1.333em;
            margin-right: 1.667em;
          }

          &::after {
            content: "";
            display: inline-block;
            vertical-align: text-bottom;
            background: url("../assets/icon-chevron.svg") no-repeat center;
            position: absolute;
            width: 0.4em;
            height: 1.333em;
            right: 0.533em;
          }
        }
      }
    }

    @include for-tablet {
      max-width: 41.6em;
      margin-inline: auto;

      ul {
        display: flex;
        justify-content: space-between;
        margin-top: 2.5em;
      }

      li {
        @include fonts.text-bold;
        font-size: 0.6875em;
        text-transform: uppercase;
        letter-spacing: 0.0909em;
        color: var(--color-foreground-75);
      }
    }

    @include for-desktop {
      width: 100%;
      margin-inline: 0;

      ul {
        margin-top: 0;
      }

      li {
        line-height: 2.2727em;
        padding-top: 3em;
        position: relative;

        &:hover, &:focus {
          color: var(--color-foreground);
        }

        &.selected::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          height: 0.444em;
          background: var(--color-primary);
        }
      }
    }
  }

  #mercury a::before {
    background: #def4fc;
  }

  #venus a::before {
    background: #f7cc7f;
  }

  #earth a::before {
    background: #545bfe;
  }

  #mars a::before {
    background: #ff6a45;
  }

  #jupiter a::before {
    background: #ecad7a;
  }

  #saturn a::before {
    background: #fccb6b;
  }

  #uranus a::before {
    background: #65f0d5;
  }

  #neptune a::before {
    background: #497efa;
  }
}
