@use "fonts";
@use "resolutions" as *;

main {
  display: grid;
  grid-template: "tabs" auto;

  @include for-tablet {
    max-width: 43.0625em;
    margin-inline: auto;
    grid-template:
      "image image" auto
      "content tabs" auto
      "facts facts" auto
      / 1fr 1fr;
  }

  @include for-desktop {
    max-width: 70.5em;
    margin-top: 4.375em;
    grid-template:
      "image content" 26.3125em
      "image tabs" auto
      "facts facts" auto
      / 41.625em auto;
    column-gap: 7em;
  }

  .tabs {
    grid-area: tabs;

    @include for-tablet {
      place-self: center right;
    }

    @include for-desktop {
      place-self: start stretch;
    }
  }

  .facts {
    @include for-tablet {
      grid-area: facts;
    }

    @include for-desktop {
      justify-self: end;
    }
  }

  figure {
    --geology-image: url("../assets/geology-mercury.png");

    width: 19em;
    height: 19em;
    margin-inline: auto;
    position: relative;
    overflow: hidden;

    @include for-tablet {
      width: 28.75em;
      height: 28.75em;
      grid-area: image;
    }

    @include for-desktop {
      width: 41.625em;
      height: 41.625em;
    }

    .image-container {
      position: absolute;
      width: max-content;
      top: 50%;
      left: 50%;
      transform: translate(-25%, -50%);
    }

    img {
      width: 38.4%;
      margin-left: 25%;
      transform: translateX(-50%);

      @include for-tablet {
        width: 63.363%;
      }

      @include for-desktop {
        width: 100%;
      }
    }

    &.geology::after {
      content: "";
      position: absolute;
      top: 60%;
      left: 50%;
      width: 24.4%;
      height: 29.8%;
      margin-left: -12.2%;
      background: var(--geology-image) no-repeat center;
      background-size: contain;
    }
  }

  .content {
    max-width: 20.437em;

    @include for-mobile-only {
      text-align: center;
      margin-inline: auto;
    }

    @include for-tablet {
      max-width: 21.1875em;
    }

    @include for-desktop {
      max-width: unset;
      margin-top: 3.5em;
    }

    h1 {
      @include fonts.title;
      font-size: 2.5rem;
      line-height: 1;
      text-transform: uppercase;

      @include for-tablet {
        font-size: 3rem;
      }

      @include for-desktop {
        font-size: 5rem;
      }
    }

    .description {
      font-size: 0.6875rem;
      margin-top: 1.454em;
      line-height: 2;

      @include for-tablet {
        margin-top: 2.1818em;
      }

      @include for-desktop {
        font-size: 0.875rem;
        line-height: 1.7857em;
      }
    }

    .source {
      font-size: 0.75rem;
      line-height: 2.083em;
      color: var(--color-foreground-50);
      margin-top: 2.667em;

      @include for-desktop {
        font-size: 0.875rem;
        line-height: 1.7857em;
      }

      a {
        @include fonts.text-bold;
        text-decoration: underline;

        &::after {
          content: "";
          display: inline-block;
          background: url("../assets/icon-source.svg") no-repeat center;
          width: 1em;
          height: 1em;
          margin-left: 0.33em;
          margin-bottom: -0.3em;
        }
      }
    }
  }
}
