main {
  display: grid;

  .tabs {
    grid-row: 1 / 2;
  }

  figure {
    width: 19em;
    height: 19em;
    margin: 1.5em auto;
    position: relative;
    overflow: hidden;

    .image-container {
      position: absolute;
      width: max-content;
      top: 50%;
      left: 50%;
      transform: translate(-25%, -50%);
    }

    img {
      width: 38.4%;
      margin-left: 25%;
      transform: translateX(-50%);
    }
  }

  .content {
    text-align: center;
    max-width: 20.437em;
    margin-inline: auto;

    h1 {
      font-family: "Antonio", sans-serif;
      font-weight: 500;
      font-size: 2.5rem;
      text-transform: uppercase;
    }

    .description {
      font-size: 0.6875rem;
      margin-top: 1.454em;
      line-height: 2;
    }

    .source {
      font-size: 0.75rem;
      line-height: 2.083em;
      color: var(--color-foreground-50);
      margin-top: 2.667em;

      a {
        text-decoration: underline;

        &::after {
          content: "";
          display: inline-block;
          background: url("../assets/icon-source.svg") no-repeat center;
          width: 1em;
          height: 1em;
          margin-left: 0.33em;
          margin-bottom: -0.3em;
        }
      }
    }
  }
}
