@use "fonts";
@use "resolutions" as *;

.tabs {
  display: flex;
  justify-content: space-between;
  padding-inline: 1.5em;
  border-bottom: 1px solid var(--color-foreground-20);

  @include for-tablet {
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding: 0;
  }

  li {
    @include fonts.text-bold;
    position: relative;
    font-size: 0.5625rem;
    text-transform: uppercase;
    letter-spacing: 0.214em;
    line-height: 1.1;
    color: var(--color-foreground-50);

    @include for-mobile-only {
      .numeric, .elaborated {
        display: none;
      }
    }

    @include for-tablet {
      color: var(--color-foreground);
      line-height: 2.777;
      border: 1px solid var(--color-foreground-20);
      width: 31.222em;

      &:hover {
        border-color: transparent;
        background: var(--color-foreground-20);
      }
    }

    @include for-desktop {
      width: 100%;
      font-size: 0.75rem;
      line-height: 2.083em;
    }

    .numeric {
      color: var(--color-foreground-50);
      margin-inline: 2.222em 1.556em;

      @include for-desktop {
        margin-inline: 2.33em;
      }
    }

    a {
      display: inline-block;
      width: 100%;
      padding-block: 2.222em;

      @include for-tablet {
        padding-block: 0.778em;
      }

      @include for-desktop {
        padding-block: 0.9166em;
      }
    }

    &.selected {
      @include for-mobile-only {
        color: var(--color-foreground);

        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: -1px;
          width: 100%;
          height: 0.444em;
          background: var(--color-primary);
        }
      }

      @include for-tablet {
        background: var(--color-primary);
      }
    }
  }
}
